div{
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: scroll;
    margin-right: 10px;

}
.box1{

background-color: darkgray;
border: 2px solid black;
}
.box2{
    background-color: darkcyan;
    border-width: 2px;
    border-style: double;
    border-color: blue;
}
.box3{
    background-color: darkorange;
border-width: 2px;
border-style: double;
border-color: darkgreen;
}